
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<!-- Header fragment -->
<div th:fragment="headerFragment">
    <header>
        <h1>Online Shopping Portal</h1>
    </header>

    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </nav>
</div>

</body>
</html>

